.vlt-custom--8131 {
	bottom: -250px;
	left: -200px;
	max-width: 550px;
}

.vlt-custom--1451 {
	top: -25px;
	left: -30px;
	width: 256px;
	height: 208px;
}

@media only screen and (max-width: 575px) {
	.vlt-custom--1451 {
		top: -100px;
		left: -100px;
	}
}

.vlt-custom--1512 {
	bottom: -28vw;
	left: 50vw;
	width: 75vw;
	height: 75vw;
	background-size: cover;
}

.vlt-custom--4124 {
	top: 0;
	right: 0;
	bottom: 0;
	width: 40vw;
	height: 100%;
	background-position: top left;
	background-size: cover;
}

@media screen and (max-width: 1024px) {
	.vlt-custom--4124 {
		right:-5vw;
		width: 550px;
	}

}

@media only screen and (max-width: 991px) {
	.vlt-custom--4124 {
		right: 0;
		width: 50vw;
	}
}

@media only screen and (max-width: 768px) {
	.vlt-custom--4124 {
		right: -50vw;
		width: 100vw;

	}

	.name{
		font-size: large;
	}

	.learn{
		font-size: 22px;
	}
}

@media screen and (max-width: 479px) {
	.vlt-custom--4124 {
		right:-8vw;
		width: 300px;
	}
	}

	@media screen and (max-width: 414px) {
		.vlt-custom--4124 {
			right:-5vw;
			width: 300px;
		}

		.vlt-large-heading{
			font-size: 40px;
		}

		.learn{
			top: -30px;
			font-size: medium;
		}

		.name{
			font-size: small;
		}

	}
		@media screen and (max-width: 375px) {
			.vlt-custom--4124 {
				right:-10vw;
				width: 300px;
			}
	
			.vlt-large-heading{
				font-size: 36px;
			}
	
			.learn{
				top: -30px;
				font-size: medium;
			}
	
			.name{
				font-size: small;
			}

		}
	

		@media screen and (max-width: 360px) {
			.vlt-custom--4124 {
				right:-21vw;
				width: 300px;
			}

			.learn{
				font-size: small;
				top: -40px;
			}

		}

		@media screen and (max-width: 320px) {
			.vlt-custom--4124 {
				right:-37vw;
				width: 300px;
			}

		}

		@media screen and (max-width: 280px) {
			.vlt-custom--4124 {
			display: none;
			}

		}

	@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
 {
		.vlt-custom--4124 {
			right:-18vw;
			width: 300px;

		}
	} 



	

.vlt-custom--1259 {
	top: -20px;
	right: -5px;
	width: 256px;
	height: 208px;
}

.vlt-custom--2355 {
	bottom: -250px;
	left: 0;
	width: 389px;
	height: 550px;
}

#status {
	width: 90%;
	max-width: 500px;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	border-radius: 8px;
  }
  #status.success {
	background-color: rgb(211, 250, 153);
	animation: status 4s ease forwards;
  }
  #status.error {
	background-color: rgb(250, 129, 92);
	color: white;
	animation: status 4s ease forwards;
  }

.added-row{
	display: none;
}

.added-row.active{
	display: flex;
}

.last-row{
	display: none;
}

.added-pb{
	display: none;
}

.added-pb.active{
	display: block;
}

.works-item{
	margin-bottom: 3.125rem;
}