  * {
    -webkit-transform: rotate3d(0, 0, 0); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotate3d(0, 0, 0); /* IE 9 */
          transform: rotate3d(0, 0, 0); /* IE 10, Fx 16+, Op 12.1+ */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*QA*/
.qamode {
  overflow: visible !important;
  display: inline-block !important;
  opacity: 1 !important;
}

#banner.qamode {
  border:0;
  }
.qamode {
  border: 1px solid #333333;
  box-sizing: border-box;
}
.frame.qamode {
  overflow:hidden !important;
}
.frame .qamode {
  border:0;
}

.noDisplay {
  display: none !important;
}

/*Banner*/

#bg {
  background-color: #f2410a;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:0;
}

.line {
  font-size: 22px;
  fill: #fff;
}

.copy {
  fill: #fff;
}

.previewbg {
  fill: #f2410a;
  display: none;
}

.frame3 .frame.qamode {
  display: none !important;
}

.frame4 .frame.qamode {
  display: none !important;
}